#brand{
    color:rgb(255, 255, 255);
    width: 100vw;
}

#extraStuff{
    border-bottom: 2px solid #9fbad3 ;
    background-color: rgba(0,0,0,.35) ;
}

@media screen and (max-width:400px){
    #extraStuff{
        display: flex;
        flex-wrap: wrap;
    }
  }

.navlink{
    margin-left: 4vw;
    margin-right: 1.5vw;
    white-space: nowrap;
}

#navlink1:hover{
    transition: 0.3s;
    color: blue;
}

#navlink2:hover{
    color: blue;
    transition: 0.3s;
}

#navlink3:hover{
    transition: 0.3s;
    color: blue;
}

.test{
    display:grid;
    place-items: center;
    color:blue;
    border: 3px solid;
    height: 100vh;
}

.box{
    border: 3px solid blue;
    height:200px;
    width: 200px;
}